<li>
  <div class="row">
    <div class="fixing_comments">
    <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
      <%= message.body %>
    </div>
  </div>
  </div>
</li>
