// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//styling for landingn image

.home .landing{
  width: 100%;
  padding-top: 50px;
  background-color: #1F2833
}

.backingcolor{
  background-color: #1F2833;
}

.item_styles{
  background-color: #1F2833;
  color: white;
  background-size: cover;
  height: 150vh;

}

// background for index page
.dj_equipment{
  background-color: #1F2833;
  margin: 0;
  padding-top: 40px;
  height: auto;
  background-size: cover;
}

.item_owner{
  padding-top: 100px;
}

.container_items{
  background-color: #1F2833;
  text-align: center;
}
// styling for margins in cards.
 .space_jam {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border: 1px solid #66FCF1!important;
  background-color: rgba(31, 40, 51, 0.1)!important;
  color: white;
  .username_styling{
    font-family: 'Maven Pro', sans-serif;
    color: white;
  // border: 2px solid #66FCF1 !important;
  }
}

// styling for cards on hover
.space_jam:hover{
  background-color: rgba(102,	252,241, 0.6) !important;
  color: black;
  .username_styling:hover {
    color: black !important;
  }
}

//styling for text in cards

.card-title{
  font-family: 'Maven Pro', sans-serif;
}




//

//
 .card-title {
  text-align: center !important;
}

.card-text{
  text-align: center;
  font-size: 20px;
  font-family: 'Maven Pro', sans-serif;
}

.item_condition{
  text-align: center;
  font-size: 30px;
  font-family: 'Maven Pro', sans-serif;
  text-decoration: underline;
}

.item_description{

}
  //

.selling_items{
  padding-bottom: 20px;
}
