// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.backingcolor{
  background-color: #1F2833;
}

.profile_styles{
  background-color: #1F2833;
  color: white;
  background-size: cover;
  height: auto;

}

.view_profile{
  text-align: center;
  color: #66FCF1;
  text-decoration:underline;
  text-transform:uppercase;
  padding-top: 40px;
  font-family: 'Play', sans-serif;

}


// styling profile page
.cool{
  text-align: center;
  padding-top: 30px;
}
.profile_image{
  overflow:hidden;
   -webkit-border-radius:50px;
   -moz-border-radius:50px;
   border-radius:65px;
   border: 3px solid  #66FCF1;
   width:150px;
   height:150px;
   background-size:90px 0px;
}

.profile_container{
  padding-top: 50px;
}

.puffles{
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 0;
  padding-top: 40px;
}

.nav{
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  font-size: 20px;
  background-color: #1F2833;
  padding-top: 10px;
  position: sticky;
}

// styling of ABOUT DJ
.decorated{
    overflow: hidden;
    text-align: center;
    font-family: 'Play', sans-serif;
    color: #66FCF1;
    background-color: #1F2833;
    text-align: center;
    padding-top: 40px;
    margin: 0
 }

 .about_me_bio{
   margin-bottom: 0;
   padding-left: 30px;
   padding-right: 30px;
   text-align: center;
 }


.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 592px; /* half of limiter */
    margin: 0 20px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}


.styling_reviews{
  text-align: center;
}

.styling_reviews h3 a{
  font-family: 'Maven Pro', sans-serif;
  color: #66FCF1;
  padding-bottom: 0;
}

.styling_review_content h4{
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px

}

.description_of_item{
  font-family: 'Maven Pro', sans-serif;
}

.new_review{
  text-align: center;
}

// styling review form

.review_sheet{
  padding-top: 40px;
  padding-bottom: 40px;
}

.form_review{
  text-align: center;
  background-color:  #1F2833;
  color: #66FCF1;
  border: 1px solid #66FCF1;
  border-radius: 4px;
  height: 50px;
  width: 70%
}

.little_icons{
    margin-left: 15px;
    margin-right: 15px;
    overflow:hidden;
     -webkit-border-radius:50px;
     -moz-border-radius:50px;
     border-radius:65px;
     width:60px;
     height:60px;
     background-size:90px 0px;

}
.review_icons{
  padding-top: 15px;
}
.john_is_correct{
  text-align: center;
}


//styling spotify

.spotify{
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}
