// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.backingcolor{
  background-color: #1F2833;
}

.profile_styles{
  background-color: #1F2833;
  color: white;
  background-size: cover;
  height: 100vh

}

.view_profile{
  text-align: center;
  color: #66FCF1;
  text-decoration:underline;
  text-transform:uppercase;
  padding-top: 40px;
  font-family: 'Play', sans-serif;

}

.profile_image{
  overflow:hidden;
   -webkit-border-radius:50px;
   -moz-border-radius:50px;
   border-radius:65px;
   border: 3px solid  #66FCF1;
   width:150px;
   height:150px;
   background-size:90px 0px;
}

.profile_container{
  padding-top: 50px;
}

.puffles{
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 0;
  padding-top: 40px;
}

.nav{
  width: 100%;
  justify-content: space-around;
  font-size: 20px;
}


.about_the_dj{
  font-family: 'Maven Pro', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
